.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:#000;
  font-family: 'Montserrat', sans-serif;
}

.title{
  font-size: 25px;
  color: #fff;
  animation: flipTitle 2s;
}

.advice{
  font-size: 85px;
  color: #fff;
  text-align: center;
  margin: 5%;
}

.buttonSearch{
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 1;
  border-color: #fff;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transforma 0.5s;
}

.buttonSearch:hover{
  transform: scale(1.2);
}

@media (max-width: 620px){
  .title{
      font-size: 60px;
  }

  .main h2{
      font-size: 28px;
  }

  .main{
      width: 80%;
      min-height: 250px;
  }
}